@tailwind base;
@tailwind components;
@tailwind utilities;


.nav{
    background-color: #202f10;
    margin-bottom: 5px;
}

.img-bg{
    background-image: url(../public//image//background.jpeg);
    background-size: cover;
}

.bt1{
    width: 150px;
    height: 55px;
    border: 1px solid gold;
    border-radius: 10px;
    background-color: gold;
    font-size: 20px;
}

.bt2{
    width: 150px;
    height: 55px;
    border: 2px solid gold;
    border-radius: 10px;
    font-size: 20px;
}

.filt{
    filter: grayscale(100%);
}
.filt:hover{
    filter: grayscale(0%);
}

